h1{
    color: rgb(126, 43, 126);
}
.btn{
    font-weight: bold;
    width: 80px;
}
.container{
    border: 1px solid black;
    padding: 20px;
}
/* combined selector
space=inside */
.container .btn{
    background-color: aquamarine;
}

/* (no space) = have both classes */
.btn.error{
    background-color: beige;
}

.list .item:nth-child(3){
    color: red;
}